* {
  /* color: rgb(0, 100, 158); */
}

body {
  background-color: gray;
  /* height: 500px; */
  display: flex;
  /* justify-content: center; */
}

header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 2, 109, 0.8);
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 236, 236);
  /* justify-content: center; */
}

.btn-container{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
}

aside{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 40px 0 0;
  font-size: 150%;
  line-height: 1.5;
}

h1 {
  /* align-self: flex-start; */
}

h2{
  font-size: 250%;
  margin: 0 5px 0 5px;
}

button {
  width: 50px;
  height: 15px;
  margin: 0 5px 0 5px;
  /* color: black; */
  /* align-self: flex-end; */
}

main {
  margin-top: 200px;
  /* margin-left: 50px; */
}



img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

table {
  width: fit-content;
  height: fit-content;
}

tr {
  border: 0;
}

td {
  text-decoration: none;
  padding: 0;
  margin: 0;
  background-color: red;
  cursor: pointer;
  /* width: 100px; */
  /* height: fit-content; */
  /* background-image: url('./img/sea-draw2.jpg'); */
}
