* {
  font-family: "Signika Negative", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: gray;
  display: flex;
  width: 100%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom right,
    rgb(102, 199, 255, 0.9),
    rgb(0, 58, 167, 0.9)
  );
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 236, 236);
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 40px 0 0;
  font-size: 150%;
  line-height: 1.5;
}

h2 {
  font-size: 250%;
  margin: 0 5px 0 5px;
}

button {
  width: 50px;
  height: 15px;
  margin: 0 5px 0 5px;
}

main {
  margin-top: 200px;
}

img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

table {
  width: fit-max-content;
  height: fit-content;
}

tr {
  border: 0;
}

td {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
